@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --background-main: #F5F7F7;
  --color-main-text: #2D3242;
  --color-text: #687078;
  --color-grey: #95979F;
  --color-accent-grey: #D3D6DD;
  --color-grey-text: #818798;
  --color-orange: #FD4D35;
  --color-blue: #2D97F9;
  --color-card: #01B9C5;
  --color-bg-card: rgba(1, 185, 197, 0.05);
}

body {
  font-family: Arial, Helvetica, sans-serif;
}
